In [2]:
set1={'mango','banana','apple','pinneapple','avocado'}
'orange' in set1

False

In [3]:
#universal set
set2= {1,2,3,4,5,6,7,8,9,10}
set3={3,4,5}
set4={3,4,5}
set5={6,7,8,9}

#subset t is said to be a subset of s if every element in t is also in s
set3.issubset(set4)

True

In [4]:
set5<=set2

True

In [5]:
# proper subset
#Set t is a proper subset of a set s if every element in set t is also in set s and the two sets do not contain the same elements
set3<set2

True

In [6]:
# supersets- inverse of subset
set2.issuperset(set5)

True

In [7]:
set3>=set4

True

In [8]:
set2>set5

True

In [9]:
#set operators

set6= {1,2,3,4,4,5,6,6,6,7,8,9}
#for intersection use the intersection method
set2.intersection(set6)
#set2.union(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
set2&set6

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
#union -uses the operator or
set2|set6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
set2.union (set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
#relative complement/difference- elements that are not in the set
#use the - operator

set2-set6

{10}

In [14]:
set2.difference(set6)

{10}

In [15]:
#Additionla set attributes
#cardinality- number of elments in a set, uses len()
len(set2)

10

In [16]:
#inclusion/exclusion principle
print(len(set2)+len(set6))

19

In [17]:
print(len(set6))

9

In [18]:
#probability -likelyhood of an event happening
#event- outcome of a particular experiment
#samle space- set of all possible outcomes of an experiment
#eventspace- set of all possible outcomes of an event

In [19]:
set7={1,2,3,4,5,6}

In [20]:
import math
n=8
k=3
p=(8*7*6*5*4*3*2*1)/(5*4*3*2*1)
p

336.0

In [21]:
def permutation(n,k):
    p=math.factorial(n)/math.factorial(n-k)
    return p

In [22]:
permutation(8,3)

336.0

In [23]:
def combination (n,k):
    return math.factorial(n)/(math.factorial(n-k)*math.factorial(k))

In [24]:
combination(8,3)

56.0