#### variables
define x=10
define y=20

In [9]:
#multiply
y*x

200

In [10]:
#divide
y/x

2.0

In [14]:
#exponetial
x**3

1000

In [15]:
#exponent
y**2

400

In [16]:
z=3

In [4]:
year_of_birth = int (input("Enter your year of birth: "))
age = 2025-year_of_birth
print(f"Iam {age} years old")

Iam 38 years old

In [ ]:
greeting = input("say hi to get a response: ")

In [17]:
#subtract 
y-x

10

In [19]:
#modulus
x%z

1

In [22]:
#modulus
y%x

0

In [23]:
print(x+y)
print(x**y)
print(x%y)

30
100000000000000000000
10

In [29]:
print(y<x and z<5)

False

In [33]:
miaka =int (input("weka miaka yako:"))
if miaka >= 18:
    print("wewe ni mtu mzima")
else:
    print("wewe ni mtoto")

wewe ni mtoto

In [37]:
#child young adult or senior
miaka = int(input("Weka miaka yako: "))
if miaka>0 and miaka<13:
    print("Wewe ni mtoto")
elif miaka>=13 and miaka<20:
    print("Wewe ni kijana")
elif miaka>=20 and miaka<35:
    print("Wewe ni mtu mzima")
elif miaka>=65:
    print("Wewe ni mzee")
else:
    print("wee mmzee")

wee mmzee

#### LOOPS
Python has two loops
    -for loop -iterates through every element in given data structure
    -while loop- only when the condition remains true will it execute

In [53]:
#list  of fruits
fruits = ["mango","banana","orange","apple","grape"]
for fruit in fruits:
    print(fruit,end=",")

mango,banana,orange,apple,grape,

In [62]:
numbers =  (1,2,3,4,5,6,7,8,9,10)
for number in numbers:
    print(number, end=",")

1,2,3,4,5,6,7,8,9,10,

In [56]:
#while loop
#counting from 0 stop at 5
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [60]:
#break, continue and pass
for num in numbers:
    if num >=5:
        break
    print(num)

1
2
3
4

In [65]:
for num in numbers:
    if num ==5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

In [66]:
for num in numbers:
    if num ==5:
        pass
    print(num)

1
2
3
4
5
6
7
8
9
10

#### lists comprehensions
earier way of creating lists from loops

In [97]:
even_numbers =[i for i in range(0,11) if i%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [98]:
square_number = [i**2 for i in range (0,26)]
print (square_number)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [99]:
cubes= [i*i*i for i in range(0,26)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [100]:
odd_numbers= [i for i in range(0,26) if i%2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [106]:
prime_numbers= [i for i in range(0,26)if i>1 and i/1==i and i%i==0 and i**0.5 !=0]
print(prime_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

#### Python function 
is the sql equvivalnet of stored procedured
its a block of code

In [ ]:
#function that adds 2 numbers
def add(x,y):
    return x+y

In [104]:
add1=add (10,3)
print(add1)

13

In [105]:
add2 = add(4,5)
print(add2)

9

In [ ]:
#function to multiply 3 numbers
def multiply(a,b,c):
    return a*b*c

In [143]:
#function that greets people
def greet():
    name = input("Enter your name: ")
    return f"Hello {name}, welcome to python programming"

In [144]:
greeting= greet()
print(greeting)

Hello joseph, welcome to python programming

#### Python functions

In [145]:
def multiply_1 (a,d,c):
    return a*d*c
result = multiply_1(2,3,4)
print(result)

24

#### Lamda function

In [146]:
product = lambda x,y,z:x*y*z

In [151]:
product_1= product(2,3,4)
product_1

24

In [158]:
salamu =lambda name:f"Hi,{name}"
salamu_1= salamu("joseph")
salamu_1

'Hi,joseph'

#### Data structures
Lists, tupules, text , dictionary

1. lists

lists are ordered and mutueable/changeable (you can add or remove things from the data structure)

In [24]:

fruits= ['apple','banana','cherry']
fruits[1]

'banana'

In [21]:
fruits= fruits.index(1)
print(fruits)

ValueError: 1 is not in list

In [169]:
fruits.pop()
fruits

['apple']

2. Tupples
cannot be changed, its immutable
ordered like a list 
denoted by the normal parentheses
has only two methods, counta and index

In [174]:
image_pixels = (1920,1080)
image_pixels.count(1920)

1

In [176]:
image_pixels.index(1920)

0

In [177]:
image_pixels[1]

1080

3. Sets
They are unordered
mutable/changeable
denoted by  {}
they do not take duplicates
methods: intersection, union

In [179]:
set_1={5,7,6,8,4}
set_2={1,2,3,4,9}

In [183]:
set_3= set_1.intersection(set_2)
set_3

{4}

In [184]:
set_4= set_1.union(set_2)
set_4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

4. Dictionaries 
denoted by {}
the key pair value
its mutable/changeable

In [186]:
person ={
    "name":"Joseph",
    "age": 28,
    "fruits":"melon"
}
person

{'name': 'Joseph', 'age': 28, 'fruits': 'melon'}

In [2]:
data ={
    "name": ["Joseph", "Jasmine","Lena", "Kayren", "Aunty"],
    "age": [23,34,45,28,36],
    "fruits": ["apple","banana","orange","grape","melon"]
}

In [3]:
import pandas as pd
df=pd.DataFrame(data)
df.head()

      name  age  fruits
0   Joseph   23   apple
1  Jasmine   34  banana
2     Lena   45  orange
3   Kayren   28   grape
4    Aunty   36   melon

#### INdexing 

1. positioning 
2. slicing - uses indices to return a new list without modifying the original list

In [9]:
number =[10,30,40,50]
number[1]

30

In [16]:
number.append(60)
number

[10, 30, 40, 50, 60, 60]

In [10]:
number[:3]

[10, 30, 40]

In [11]:
number[1:]

[30, 40, 50]

In [12]:
number[1:3]

[30, 40]

In [18]:
number[2:]

[40, 50, 60, 60]

#### CLASSSES

In [3]:
class Person:
    def __init__(self,name,age,gender,nationality):
        self.name = name
        self.age = age
        self.gender = gender 
        self.nationality = nationality
    def speak(self):
        return f"hi my name is {self.name}, I'm {self.age} years old, I'm a {self.gender} of {self.nationality} nationality"

In [4]:
#Example usage
person1= Person("Joseph",28,"male","kenyan")
print(person1.speak())

hi my name is Joseph, I'm 28 years old, I'm a male of kenyan nationality

In [15]:
class Rectangle:
    def __init__(self,width,length):
        self.width= width
        self.length = length
    def area (self):
        area=self.width*self.length
        return f"area of our rectangle with width {self.width} and length {self.length} is {area}"
    def perimeter (self):
        perimeter=(self.width*2)+(self.length*2)
        return f"perimeter of our rectangle with width {self.width} and length{self.length} is {perimeter}"

In [16]:
rectangle1=Rectangle(9,10)
print(rectangle1.area())

area of our rectangle with width 9 and length 10 is 90

In [17]:
rectangle2= Rectangle(9,10)
print(rectangle2.perimeter())

perimeter of our rectangle with width 9 and length10 is 38

In [50]:
class Circle:
   def __init__(self,radius):
    self.PI= 22/7
    self.radius = radius
   def area(self):
    area= self.PI*self.radius*self.radius
    return f"area of our circle is {area}"
   def perimeter(self):
    perimeter= self.PI*2*self.radius
    return f"perimeter of our circle is {perimeter}"

In [52]:
circle1= Circle(10)
print(circle1.area())

area of our circle is 314.2857142857143

In [53]:
circle2= Circle(10)
print(circle2.perimeter())

perimeter of our circle is 62.857142857142854

In [54]:
#write a class car with attributes brand and year, add a method called display that prints a formatted string
class Car:
    def __init__(self,brand,year):
        self.brand= brand
        self.year= year
    def display(self):
        return f"the car brand is {self.brand} and it was manufactured in the year {self.year}"

In [55]:
display_car= Car("Toyota",2020)
print(display_car.display())

the car brand is Toyota and it was manufactured in the year 2020

In [7]:
%pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/38/18/48f10f1cc5c397af59571d638d211f494dba481f449c19adbd282aa8f4ca/pandas-2.3.2-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.3.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 348.1 kB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/b7/13/e792d7209261afb0c9f4759ffef6135b35c77c6349a151f488f531d13595/numpy-2.3.2-cp311-cp311-macosx_14_0_arm64.whl.metadata
  Downloading numpy-2.3.2-cp311-cp311-macosx_14_0_arm64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.1/62.1 kB 1.4 MB/s eta 0:00:0000:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/josephmutui/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/81/c4/34e93fe5f5429d7570ec1fa436f1986fb1f00c3e0f43a589fe2bbcd22c3f/pytz-2025.2-py2.py3-none-any.whl.metadata
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/5c/23/c7abc0ca0a1526a0774eca151daeb8de62ec457e77262b66b359c3c7679e/tzdata-2025.2-py2.py3-none-any.whl.metadata
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/josephmutui/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 1.8 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.3.2-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.4/5.4 MB 1.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 1.2 MB/s eta 0:00:0000:0100:01m
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 1.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [9]:
%pip install matplotlib seaborn numpy

Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/8c/af/30ddefe19ca67eebd70047dabf50f899eaff6f3c5e6a1a7edaecaf63f794/matplotlib-3.10.6-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading matplotlib-3.10.6-cp311-cp311-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/83/11/00d3c3dfc25ad54e731d91449895a79e4bf2384dc3ac01809010ba88f6d5/seaborn-0.13.2-py3-none-any.whl.metadata
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.3.2)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/0d/44/c4b0b6095fef4dc9c420e041799591e3b63e9619e3044f7f4f6c21c0ab24/contourpy-1.3.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading contourpy-1.3.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/f8/53/742fcd750ae0bdc74de4c0ff923111199cc2f90a4ee87aaddad505b6f477/fonttools-4.59.2-cp311-cp311-macosx_10_9_universal2.whl.metadata
  Downloading fonttools-4.59.2-cp311-cp311-macosx_10_9_universal2.whl.metadata (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.7/109.7 kB 415.9 kB/s eta 0:00:00a 0:00:01
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/31/a2/a12a503ac1fd4943c50f9822678e8015a790a13b5490354c68afb8489814/kiwisolver-1.4.9-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading kiwisolver-1.4.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in /Users/josephmutui/Library/Python/3.11/lib/python/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/cb/39/ee475903197ce709322a17a866892efb560f57900d9af2e55f86db51b0a5/pillow-11.3.0-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pillow-11.3.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/05/e7/df2285f3d08fee213f2d041540fa4fc9ca6c2d44cf36d3a035bf2a8d2bcc/pyparsing-3.2.3-py3-none-any.whl.metadata
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/josephmutui/Library/Python/3.11/lib/python/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (2.3.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/josephmutui/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.6-cp311-cp311-macosx_11_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 1.9 MB/s eta 0:00:0000:0100:01
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 3.6 MB/s eta 0:00:00a 0:00:01
Downloading contourpy-1.3.3-cp311-cp311-macosx_11_0_arm64.whl (270 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 270.1/270.1 kB 3.9 MB/s eta 0:00:00a 0:00:01
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.2-cp311-cp311-macosx_10_9_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 3.6 MB/s eta 0:00:0000:0100:01
Downloading kiwisolver-1.4.9-cp311-cp311-macosx_11_0_arm64.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.3/65.3 kB 1.9 MB/s eta 0:00:00
Downloading pillow-11.3.0-cp311-cp311-macosx_11_0_arm64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 2.0 MB/s eta 0:00:0000:0100:01
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.1/111.1 kB 1.7 MB/s eta 0:00:00 0:00:01
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.59.2 kiwisolver-1.4.9 matplotlib-3.10.6 pillow-11.3.0 pyparsing-3.2.3 seaborn-0.13.2

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/b7/3f/945ef7ab14dc4f9d7f40288d2df998d1837ee0888ec3659c813487572faa/pip-25.2-py3-none-any.whl.metadata
  Downloading pip-25.2-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.2-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 237.7 kB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-25.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import matplotlib;
print(matplotlib.__version__)

3.10.6

In [10]:
class Animal:
    def __init__(self,name):
        self.name =name
    def speak(self):
        return f"{self.name} makes sound"

In [13]:
class Dog(Animal):
    def speak(self):
        return f"{self.name} says woof!"

In [14]:
dog1= Dog("bosco")
print(dog1.speak())

bosco says woof!

In [15]:
class Cat(Animal):
    def speak(self):
        return f"{self.name} says meow"

In [17]:
cat1 = Cat("shi")
print(cat1.speak())

shi says meow

In [30]:
class Cow(Animal):
    def speak(self):
        return f"{self.name} says moo!"

In [31]:
cow1= Cow("Jedidah")
print(cow1.speak())

Jedidah says moo!